<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>885716601960-lr5b18viuflr4b0la1stfmei6buim4cl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.885716601960-lr5b18viuflr4b0la1stfmei6buim4cl</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>885716601960-5118biokvrhr46ajvi0q6uon6momcf4o.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC9zK7rXSLO619D9tFfPqcUstZcklwb-vc</string>
	<key>GCM_SENDER_ID</key>
	<string>885716601960</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.broadwayinfosys.firebaseFlutter</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-12a59</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-12a59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:885716601960:ios:1a3f9c9d7d0b2c3416bfdd</string>
</dict>
</plist>